* {
  margin: 0;
  padding: 0;
}
ul, figure{
  padding: 0px;
  margin: 0px;
}

html {
  font-family: $font-family-primary;
  color: $color-text;
  background-color: #fffbfa;
  font-size: 16px;
  font-weight: normal;
  text-align: left;
  line-height: normal;
  letter-spacing: normal;
  position: absolute;

  width: 100%;
  height: 100%;

  line-height: 1.5;
  box-sizing: border-box;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  @media (max-width: 1400px) {
    //font-size: 15px;
  }

  @media (max-width: 1199px) {
    font-size: 14px;
  }

  @media (max-width: 991px) {
    font-size: 13.5px;
  }

  @media (max-width: 767px) {
    font-size: 13px;
  }

  @media (max-width: 340px) {
    font-size: 12.5px;
  }
}

a {
  text-decoration: none;
  color: inherit !important;
}

button {
  cursor: pointer;
}

ul, li {
  text-decoration: none;
  list-style-type: none;

}

.container {
  flex: 1 1;

  max-width: $contentWidth;
  height: inherit;

  margin: 0 auto;
  padding: 0 $contentPadding;
}
