@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jisq8t');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?jisq8t#iefix') format('embedded-opentype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?jisq8t') format('truetype'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?jisq8t') format('woff'),
  url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?jisq8t##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-menu-button {
  &:before {
    content: $icon-menu-button;
  }
}
.icon-facebook-logo {
  &:before {
    content: $icon-facebook-logo;
  }
}
.icon-dribbble-logo {
  &:before {
    content: $icon-dribbble-logo;
  }
}
.icon-rss-symbol {
  &:before {
    content: $icon-rss-symbol;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-folder-open-copy {
  &:before {
    content: $icon-folder-open-copy;
  }
}
.icon-github-logo {
  &:before {
    content: $icon-github-logo;
  }
}
.icon-google-plus-logo {
  &:before {
    content: $icon-google-plus-logo;
  }
}
.icon-headset {
  &:before {
    content: $icon-headset;
  }
}
.icon-linkedin-logo {
  &:before {
    content: $icon-linkedin-logo;
  }
}
.icon-message {
  &:before {
    content: $icon-message;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-star-fill {
  &:before {
    content: $icon-star-fill;
  }
}
.icon-thumbs-up {
  &:before {
    content: $icon-thumbs-up;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}

