/*
`* In this file, all the variables associated with the project are stored.
//*/

//*  Content variables
$contentWidthLg: rem(1600);
$contentWidth: 90%;
$contentWidthSm: rem(100);
$contentPadding: rem(16);
$contentGutter: rem(32/2);

$wideScreens: (
        phonesSm: 340px,
        phones: 480px,
        tablet: 895px,
        tabletLg: 905px,
        laptop: 992px,
        desktopSm: 1020px,
        desktopMd: 1170px,
        desktop: 1280px,
        notebook: 1400px,
        notebookLg: 1600px,
        hd: 1800px,
        retina: 2100px,
        retina4k: 3656px,
        retina5k: 5100px,
        retina8k: 7600px
);

//* Main sizes
$contentWidth: var(--content-width);
$contentPadding: var(--content-padding);
$contentGutter: rem(24);

$elemRadius: rem(4);

//$letterSpacing: rem(1.3);
//$letterSpacingSec: rem(5);

//* Root
:root {
  //* root sizes
  --content-width: #{rem(1248)}; //1200
  --content-padding: #{rem(24)};

  //* root color
  --cl-dark: #2d2d2d;
  --cl-dark--lgtr: #afafaf;
  --cl-gray: #8b8b8b;
  --cl-black: #000000;
  --cl-white: #f1f1f1;
  --cl-silver: #f8f8f8;
  --cl-footer-icons: #818181;
  --cl-lightgray: #414141;
  --cl-lightgray-slvr: #9e9e9e;
  --cl-lightgray-lgter: #e9e9e9;
  --cl-lightgray-brdr: #e3e3e3;
  --cl-red: #e75757;
  --cl-blue: #55b2f3;
--cl-facebook: #325c94;
  --cl-twitter: #64a8f2;
  --cl-rss: #f78634;
}

$dark: #00131e;
$color-text: $dark;

// * fonts
$font-path: "../fonts" !default;
$font-mp-path: $font-path + "/metapro/" !default;

$font-family-primary: 'Rubik', sans-serif;
//$font-family-secondary:
//$font-family-tertiary:

//* Icons
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/fonts" !default;

$icon-close: "\e910";
$icon-menu-button: "\e911";
$icon-facebook-logo: "\e904";
$icon-dribbble-logo: "\e900";
$icon-rss-symbol: "\e901";
$icon-twitter: "\e902";
$icon-calendar: "\e903";
$icon-folder-open-copy: "\e905";
$icon-github-logo: "\e906";
$icon-google-plus-logo: "\e907";
$icon-headset: "\e908";
$icon-linkedin-logo: "\e909";
$icon-message: "\e90a";
$icon-search: "\e90b";
$icon-star: "\e90c";
$icon-star-fill: "\e90d";
$icon-thumbs-up: "\e90e";
$icon-user: "\e90f";

