<section class="main-container__block main-container__block--left">
    <div class="block-left__articles">
        <section class="block-left__article">
            <h1 class="article-caption">Latest Posts</h1>
            <div class="article-container">

                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>

                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Neque porro quisquam est, qui dolorem ipsum</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>

                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">50 Top Wallpapers HD</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>

                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Porro quisquam est, qui dolor</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
        </section>

        <section class="block-left__article">
            <h1 class="article-caption">News in Picture</h1>

            <div class="article-container">
                <div class="article__item article__item--news">

                </div>
                <div class="article__item article__item--news">
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>
                    <article class="item-news__picture">
                        <a href="">
                            <img src="/img/bg_gray.png" alt=""></a>
                    </article>

                </div>
            </div>

        </section>

        <section class="block-left__article">
            <h1 class="article-caption">Carousel Posts</h1>

            <div class="article-container article-container--carousel">

                <div class="swiper-container--carousel">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>

                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>

                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>
                        <div class="swiper-slide">    <article class="article__item">
                            <div class="item-photo">
                                <img src="/img/bg_gray.png" class="photo" alt="">
                            </div>
                            <div class="item-text">
                                <h2 class="article-sub-caption">Sed do eiusmod tempor incididunt ut</h2>
                                <p class="item-actions__theme">
                                    <i class="icon-calendar"></i>
                                    27 March 2019
                                </p>
                            </div>
                        </article></div>

                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>

            </div>

        </section>

        <section class="block-left__article">
            <h1 class="article-caption">Entertainment</h1>
            <div class="article-container article-container--entertainment">


                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
                <div class="article__items">
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/logo.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">A New Yorker doesn't
                                necessarily come</h2>
                            <div class="item-actions">
                                <i class="icon-star"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </article>
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/logo.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">Sed ut perspiciatis unde
                                omnise</h2>
                            <div class="item-actions">
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </article>
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/logo.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">Neque porro quisquam
                                est, qui dolorem ipsum</h2>
                            <div class="item-actions">
                                <i class="icon-star"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </article>
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/logo.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">Sed ut perspiciatis unde
                                omnis</h2>
                            <div class="item-actions">
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </article>
                </div>


            </div>

        </section>
    </div>
</section>