<section class="main-container__block main-container__block--center">
    <div class="block-center__articles">

        <section class="block-center__article">
            <h1 class="article-caption">Popular Posts</h1>
            <div class="article-container article-container--items">
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">A New Yorker doesn't
                            necessarily come</h2>
                        <div class="item-actions">
                            <i class="icon-star"></i>
                            <i class="icon-calendar"></i>
                            <i class="icon-user"></i>
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Sed ut perspiciatis unde
                            omnise</h2>
                        <div class="item-actions">
                            <i class="icon-calendar"></i>
                            <i class="icon-user"></i>
                            <i class="icon-message"></i>
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Neque porro quisquam
                            est, qui dolorem ipsum</h2>
                        <div class="item-actions">
                            <i class="icon-star"></i>
                            <i class="icon-calendar"></i>
                            <i class="icon-user"></i>
                            <i class="icon-message"></i>
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Sed ut perspiciatis unde
                            omnis</h2>
                        <div class="item-actions">
                            <i class="icon-calendar"></i>
                            <i class="icon-user"></i>
                            <i class="icon-message"></i>
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <section class="block-center__article">
            <h1 class="article-caption">Poll</h1>

            <div class="article-container article-container--poll">
                <h2 class="article-sub-caption">What do you think about site?</h2>
                <div class="article-input"><input type="radio" id="contactChoice1"
                                                  name="contact" value="email">
                    <label for="contactChoice1">Amazing</label></div>
                <div class="article-input"><input type="radio" id="contactChoice2"
                                                  name="contact" value="phone">
                    <label for="contactChoice2">Good</label></div>
                <div class="article-input"><input type="radio" id="contactChoice3"
                                                  name="contact" value="mail">
                    <label for="contactChoice3">Can Be Improved</label></div>
                <div class="article-input"><input type="radio" id="contactChoice4"
                                                  name="contact" value="mail">
                    <label for="contactChoice4">Not Comments</label></div>

                <div class="article-buttons">
                    <button class="article-button ">Vote</button>
                    <button class="article-button article-button--view">View Results</button>
                </div>
            </div>
        </section>
        <section class="block-center__article">
            <h1 class="article-caption">Slider Posts</h1>
            <div class="article-container article-container--slider">
                <div class="swiper-container--slider">

                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article__item ">
                                <div class="item-description">
                                    <h2 class="item-caption">Interview with anna nilsensen</h2>
                                    <div class="item-actions">
                                        <div class="item-actions__theme">
                                            <i class="icon-folder-open-copy"></i> Interview
                                        </div>
                                        <div class="item-actions__icons">
                                            <i class="icon-user"></i>
                                            <i class="icon-calendar"></i>
                                            <i class="icon-message"></i>
                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article__item ">
                                <div class="item-description">
                                    <h2 class="item-caption">Interview with james cameron</h2>
                                    <div class="item-actions">
                                        <div class="item-actions__theme">
                                            <i class="icon-folder-open-copy"></i> Interview
                                        </div>
                                        <div class="item-actions__icons">
                                            <i class="icon-user"></i>
                                            <i class="icon-calendar"></i>
                                            <i class="icon-message"></i>
                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article__item ">
                                <div class="item-description">
                                    <h2 class="item-caption">Interview with grant cardone</h2>
                                    <div class="item-actions">
                                        <div class="item-actions__theme">
                                            <i class="icon-folder-open-copy"></i> Interview
                                        </div>
                                        <div class="item-actions__icons">
                                            <i class="icon-user"></i>
                                            <i class="icon-calendar"></i>
                                            <i class="icon-message"></i>
                                        </div>
                                    </div>
                                </div>

                            </article>
                        </div>
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </section>
        <section class="block-center__article">
            <h1 class="article-caption">Tags</h1>
            <div class="article-container article-container--tags">

                <article class="article__item">
                    <a href="" class="item__tag">developer</a>
                    <a href="" class="item__tag">business</a>
                    <a href="" class="item__tag">themeforest</a>
                    <a href="" class="item__tag">wordpress themes</a>
                    <a href="" class="item__tag">styles</a>
                    <a href="" class="item__tag">portfolio carousel</a>
                    <a href="" class="item__tag item__tag--active">workstation</a>
                    <a href="" class="item__tag">wordpress plugins</a>
                    <a href="" class="item__tag">begginers tutorials</a>
                </article>

            </div>
        </section>
        <section class="block-center__article">
            <h1 class="article-caption">Newsletters</h1>
            <div class="article-container article-container--newsletters">

                <div class="article__item">
                    <h2 CLASS="article-sub-caption">Subscribe to our email newsletter</h2>
                    <div class="article-inputs">
                        <input type="text" class="article-input" placeholder="Enter your e-mail address">
                        <button class="article-button"><i class="icon-thumbs-up"></i></button>
                    </div>
                </div>

            </div>
        </section>
        <section class="block-center__article">
            <h1 class="article-caption">Video Widget</h1>
            <div class="article-container">

                <article class="article__item ">

                    <iframe width="240" height="180" title="Latest News" src="https://www.youtube.com/embed/9wFvcexwfqI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>

                </article>

            </div>
        </section>

    </div>
</section>
