<section class="main-container__block main-container__block--right">
    <section class="block-right__socials">
        <div class="socials__item">
            <i class="icon-facebook-logo item-photo"></i>
            <div class="item-text">
                <p>259 <br> fans</p>
            </div>
        </div>
        <div class="socials__item socials__item--twitter">
            <i class="icon-twitter item-photo"></i>
            <div class="item-text">
                <p>259 <br> fans</p>
            </div>
        </div>
        <div class="socials__item socials__item--rss">
            <i class="icon-rss-symbol item-photo"></i>
            <div class="item-text">
                <p>259 <br> fans</p>
            </div>
        </div>
    </section>
    <section class="block-right__articles">
        <section class="block-right__article">
            <h1 class="article-caption">Login</h1>
            <div class="article-container article-container--login">

                <div class="article__item article__item--login">
                    <div class="article-inputs">
                        <input type="text" class="article-input" placeholder="Username">
                        <input type="password" class="article-input" placeholder="Password">
                        <div class="article-buttons">
                            <button class="article-button">Login</button>
                            <label class="article-checkboxes">
                                <input type='checkbox' class="article-checkbox">
                                <span></span>
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="block-right__article">
            <h1 class="article-caption">Archive</h1>
            <div class="article-container article-container--archive">

                <article class="article__item">
                    <!--<form>-->
                    <!--<input type="date" name="calendar">-->

                    <!--</form>-->
                </article>

            </div>
        </section>
        <section class="block-right__article">
            <h1 class="article-caption">Like Us</h1>
            <div class="article-container article-container--like-us">

                <article class="article__item">

                </article>

            </div>
        </section>
        <section class="block-right__article">
            <h1 class="article-caption">Recent Comments</h1>
            <div class="article-container article-container--comments">
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Alex:</h2>
                        <div class="item-comment item-comment--theme">Welcome to WordPress</div>
                        <div class="item-comment">This is your first computer web site</div>
                        <div class="item-actions">
                            1 minutes ago
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Alex:</h2>
                        <div class="item-comment item-comment--theme">Welcome to WordPress</div>
                        <div class="item-comment">This is your first computer web site</div>
                        <div class="item-actions">
                            1 minutes ago
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Alex:</h2>
                        <div class="item-comment item-comment--theme">Welcome to WordPress</div>
                        <div class="item-comment">This is your first computer web site</div>
                        <div class="item-actions">
                            1 minutes ago
                        </div>
                    </div>
                </article>
                <article class="article__item">
                    <div class="item-photo">
                        <img src="/img/logo.png" alt="" class="photo">
                    </div>
                    <div class="item-text">
                        <h2 class="item-caption">Alex:</h2>
                        <div class="item-comment item-comment--theme">Welcome to WordPress</div>
                        <div class="item-comment">This is your first computer web site</div>
                        <div class="item-actions">
                            1 minutes ago
                        </div>
                    </div>
                </article>

            </div>
        </section>
    </section>

</section>