<section class="section-banner container">

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with grant cardone</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with grant cardone</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>
            <div class="swiper-slide">
                <article class="article__item">
                    <div class="item-description">
                        <h2 class="item-caption">Interview with anna nilsensen</h2>
                        <div class="item-actions">
                            <div class="item-actions__theme">
                                <i class="icon-folder-open-copy"></i> Interview
                            </div>
                            <div class="item-actions__icons">
                                <i class="icon-user"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-message"></i>
                            </div>
                        </div>
                    </div>

                </article>
            </div>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

</section>