<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="The Seven News. Latest news every day, everywhere. Special for you."/>

    <title>@@pageTitle</title>

    <link rel="icon" type="image/svg" sizes="32x32" href="/img/favicon.svg">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">



    @@include('_css-sources.html')
</head>
