<footer>
    <div class="container">

        <section class="footer__item">

            <div class="footer__logo"></div>

            <div class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
                velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint.

                <p class="text__email">Email:<a href="#">Support@mysite.com</a></p>
            </div>
            <div class="footer__socials">
                <a href="#" class="social__link"><i class="icon-dribbble-logo"></i></a>
                <a href="#" class="social__link"><i class="icon-google-plus-logo"></i></a>
                <a href="#" class="social__link"><i class="icon-twitter"></i></a>
                <a href="#" class="social__link"><i class="icon-facebook-logo"></i></a>
                <a href="#" class="social__link"><i class="icon-rss-symbol"></i></a>
                <a href="#" class="social__link"><i class="icon-github-logo"></i></a>
                <a href="#" class="social__link"><i class="icon-linkedin-logo"></i></a>

            </div>

        </section>
        <section class="footer__item">
            <h1 class="footer__title">Random Posts</h1>

            <div class="article-container">
                <div class="article__item">
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/bg_gray.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">A New Yorker doesn't
                                necessarily come from</h2>
                            <div class="item-actions">
                                <i class="icon-star"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="article__item">
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/bg_gray.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">A New Yorker doesn't
                                necessarily come from</h2>
                            <div class="item-actions">
                                <i class="icon-star"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="article__item">
                    <article class="article__item">
                        <div class="item-photo">
                            <img src="/img/bg_gray.png" alt="" class="photo">
                        </div>
                        <div class="item-text">
                            <h2 class="item-caption">A New Yorker doesn't
                                necessarily come from</h2>
                            <div class="item-actions">
                                <i class="icon-star"></i>
                                <i class="icon-calendar"></i>
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </article>
                </div>
            </div>

        </section>
        <section class="footer__item">
            <h1 class="footer__title">Flickr Group</h1>

            <div class="article-container article-container--flickr">
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>
                <div class="article__item">
                    <div class="item-photo">
                        <a href="#"><img src="/img/bg_gray.png" class="photo" alt=""></a>
                    </div>

                </div>

            </div>

        </section>

    </div>
    <section class="footer__bottom">
        <div class="container">
            <div class="footer__item">
                <div class="item__text"> © 2014 Theme20. All Rights Reserved. Powered by Themeforest.</div>
                <nav class="footer__nav">
                    <a href="#" class="nav__link">Home</a>
                    <a href="#" class="nav__link">Forums</a>
                    <a href="#" class="nav__link">Shop</a>
                    <a href="#" class="nav__link">Shortcodes</a>
                    <a href="#" class="nav__link">Contact</a>
                </nav>
            </div>

        </div>
    </section>

</footer>