<header class="header @@headerClass">

    <div class="container">
        <div class="header__main">
            <nav class="header__nav">
                <div class="nav__title">
                    <a href="#" class="nav__item nav__logo"></a>
                    <div class="menu">
                        <!-- Иконка меню -->
                            <i class="icon-close"></i>

                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Sign in</a></li>
                        </ul>
                    </div>
                    <div class="icon-menu">
                        <i class="icon-menu-button"></i>
                    </div>
                </div>

                <a href="#" class="nav__item">Categories</a>
                <a href="#" class="nav__item">Forums</a>
                <a href="#" class="nav__item">Shop</a>
                <a href="#" class="nav__item">Shortcodes</a>
                <a href="#" class="nav__item">Contact</a>
            </nav>
        </div>
        <div class="header__sub">
            <div class="sub__items">
                <div class="sub__item sub__item--title">Breaking News</div>
                <div class="sub__item sub__item--content">
                    <a href="" class="content__item">
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry</a>
                    <i class="icon-star-fill"></i>
                    <a href="" class="content__item">
                        Lorem Ipsum is simply dummy text of the printing
                        and typesetting industry</a>
                </div>
                <div class="sub__item sub__item--socials">
                    <div class="menu__search">
                        <input type="text" id="search" class="search"
                               placeholder="Введите поисковый запрос"/>
                        <i class="icon-search"></i>
                    </div>

                    <i class="icon-dribbble-logo"></i>
                    <i class="icon-facebook-logo"></i>
                    <i class="icon-twitter"></i>
                </div>
            </div>
        </div>
    </div>


</header>
