<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

<script src="js/main.js"></script>


