.main-container__block--left {
  .article-container,
  .article__item,
  .article__items,
  .item-actions,
  .item-description {
    display: flex;
  }
  .section-banner,
  .block-left__articles {
    .article-container {
      flex-wrap: wrap;
      justify-content: space-around;

      padding: rem(10);
      &--carousel {
        .article__item {
          flex-direction: column;

          //width: rem(165);
          color: var(--cl-dark);
          background: none !important;
          overflow: hidden;
          width: auto !important;
          height: auto !important;
          .article-sub-caption {
            margin: rem(10) rem(0);
            padding: 0px;

            font-weight: normal;
            letter-spacing: -0.4px;
          }
          .item-actions__theme {
            font-size: rem(11);
            color: var(--cl-lightgray-slvr);
            i {
              margin-right: rem(5);
            }
          }
          .item-photo {
            //margin-bottom: rem(-40);
            object-fit: contain;
            .photo {
              max-height: rem(115);
            }
          }
        }
      }
      &--entertainment {
        .article-container--entertainment {
          justify-content: space-between;
        }
        .article__item {
          margin-right: rem(10);
          height: rem(320);
        }
        .article__items {
          flex-direction: column;
          flex: 1;

          max-width: rem(260);
          margin-top: rem(10);

          .article__item {
            line-height: 1.3;
            color: var(--cl-dark);
            font-size: rem(14);

            background: none;
            width: inherit;
            height: auto;

            margin: 0px;
            padding: rem(5) rem(0);

            border-bottom: 1px solid var(--cl-lightgray-brdr);
            .item-caption {
              font-weight: normal;
            }
            .item-actions {
              justify-content: normal;
              margin-top: rem(6);
              font-size: rem(14);
              letter-spacing: 10px;
            }
            .item-photo {
              .photo {
                width: rem(65);
                height: rem(65);
                object-fit: contain;

                margin-right: rem(20);

              }
            }
          }
        }
      }
    }

    .article__item {
      width: rem(260);
      height: rem(240);

      overflow: hidden;
      margin: rem(10) rem(10);

      color: var(--cl-white);
      background: url("/img/bg.png") var(--cl-lightgray-lgter) bottom no-repeat;
      &--news {
        justify-content: space-between;
        flex-wrap: wrap;
        &:last-child {
          background: none !important;
        }
        .item-news__picture {
          width: rem(75);
          height: rem(75);
          img {
            width: rem(75);
            height: rem(75);
            object-fit: contain;
          }
        }
      }
      .item-description {
        flex-direction: column;

        width: 100%;
        margin-top: auto;
        padding: rem(10);
      }
      .item-actions {
        align-items: center;
        justify-content: space-between;
        &__icons {
          i {
            margin-left: rem(5);
          }
        }
      }
    }
  }

}

@include max-wide(notebook) {
  .main-container__block--left {
    .block-left__article {
      .article-container {
        .article__item {
          width: rem(220);
          height: rem(200);

        }
      }
    }
  }
}

@include max-wide(laptop) {
  .main-container__block--left {
    .block-left__article {
      .article-container {
        .article__item {
          width: rem(200);
          height: rem(180);
          margin-left: rem(5);
          margin-right: rem(5);
        }
      }
    }
  }
}

@include max-wide(notebook) {
  .main-container__block--left {
    .article__item--news {
      width: 45%;
      display: flex;

      justify-content: space-around !important;
      .item-news__picture {
        img {
          width: rem(90) !important;
          height: rem(90) !important;
          background-size: contain;
        }

      }
      .item-news__picture:nth-child(5) {
        display: none;
      }
      .item-news__picture:nth-child(6) {
        display: none;
      }
      .item-news__picture:nth-child(7) {
        display: none;
      }
      .item-news__picture:nth-child(8) {
        display: none;
      }
      .item-news__picture:nth-child(9) {
        display: none;
      }
    }
  }
}

@include max-wide(tablet) {
  .main-container__block--left {
    .block-left__articles {
      .article-container {
        justify-content: center;
        align-items: center;
        padding: 0rem !important;
      }
      .article__item {
        width: rem(220);
        height: rem(200);
        font-size: rem(13);

        &--news {
          justify-content: space-around;
        }
      }
    }
    .article-container--carousel {

      .article__item {
        margin-left: 0rem;
        margin-right: 0rem;
        width: auto;
        font-size: rem(12);
        &:last-child {
          //display: none;
        }
        .article-sub-caption {
          padding-top: rem(25) !important;
        }
      }
    }
  }
}

