.main-container__block--right {
  display: flex;
  flex-direction: column;

  .article__item,
  .article-inputs,
  .article-buttons,
  .article-checkboxes,
  .block-right__socials,
  .socials__item {
    display: flex;
  }
  .article-container {
    .article__item {
      padding: rem(10);
    }
    &--login {
      .article-inputs {
        flex-direction: column;

        padding: rem(8) rem(0);
        width: 100%;
        .article-input {
          margin: rem(5) rem(0);
          padding: rem(8) rem(15);

          background: var(--cl-silver);
          border: 1px solid var(--cl-lightgray-brdr);
        }
        .article-buttons {
          align-items: center;
          padding: rem(10) rem(0);

          font-size: rem(13);
          color: var(--cl-dark--lgtr);
          .article-checkboxes {
            align-items: center;
            margin-left: rem(30);
            span {
              margin-right: rem(10);
            }
          }
          label input {
            display: none;
          }
          label span {
            display: inline-block;
            position: relative;

            height: rem(8);
            width: rem(8);

            background-color: inherit;
            border: 1px solid var(--cl-dark--lgtr);
            border-radius: 2px;
            padding: 3px;
          }
          [type=checkbox]:checked + span:before {
            content: '\2714';
            position: absolute;
            top: -6px;
            left: 0;

            font-size: rem(18);
            color: var(--cl-dark);
          }
        }
      }
      input[type="text"]::placeholder,
      input[type="password"]::placeholder {
        color: var(--cl-dark--lgtr) !important;
      }
    }
    &--archive {
      .article__item {
        margin: rem(10);
        padding: 0px;
        height: rem(205);

        background: url("/img/calendar.png") no-repeat;
        background-size: contain;
      }
    }
    &--like-us {
      .article__item {
        margin: rem(10);
        padding: 0px;
        height: rem(205);

        background: url("/img/facebook.png") no-repeat;
        background-size: contain;
      }
    }
    &--comments {
      .article__item {
        max-width: rem(280);

        padding: rem(10) rem(0);
        font-size: rem(12);
        &:first-child {
          padding-top: 0rem;
        }
        .photo {
          width: rem(70);
          height: rem(70);
          object-fit: contain;
          margin-right: rem(20);
        }
        .item-text {
          display: block !important;
          width: rem(150);

          .item-comment {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
          .item-actions {
            color: var(--cl-lightgray);
          }
        }
      }
    }
  }
  .block-right__socials {
    margin-left: auto;
    .socials__item {
      justify-content: space-around;
      flex-direction: column;
      text-align: center;

      background: var(--cl-facebook);
      width: rem(80);
      height: rem(105);

      color: var(--cl-white);
      &--twitter {
        background: var(--cl-twitter);
      }
      &--rss {
        background: var(--cl-rss);
      }
      .item-photo {
        background: inherit;
        filter: contrast(120%) brightness(90%);

        border-radius: 50%;
        padding: rem(12);
        margin: auto;
        &:hover {
          filter: brightness(130%);
        }
      }
    }

  }
}

@include max-wide(laptop) {
  .main-container__block--right {
    margin-top: rem(20);
    .article-container {
      padding: rem(10);
    }
    .block-right__socials {
      display: none;
    }
  }
}

@include max-wide(tablet) {
  .main-container__block--right {
    display: none;
  }
}
