.main-container__block--center {
  .block-center__articles {
    .block-center__article {
      .article-container,
      .article__item,
      .item-actions,
      .item-description {
        display: flex;
      }

      .article-container {
        flex-direction: column;
        flex-wrap: wrap;

        max-width: 280px;

        .article__item {
          justify-content: space-between;
          align-items: center;

          margin: rem(10) auto;
          border-bottom: 1px solid var(--cl-lightgray-lgter);
          .item-caption {
            font-weight: normal;
          }
          .item-photo {
            .photo {
              width: rem(65);
              height: rem(65);
              object-fit: contain;
              margin: rem(0) rem(20) rem(0) rem(10);
            }
          }
          .item-actions {
            margin-top: rem(6);

            font-size: rem(14);
            letter-spacing: 10px;
          }
        }
        &--items {
          .article__item {
            margin: 0rem;
            padding: rem(10) rem(0);

            &:first-child {
              padding-top: rem(0) !important;
            }
          }
        }
        &--poll {
          .article-sub-caption {
            padding: rem(10);
            text-align: center;
          }
          .article-input {
            padding: rem(5) rem(10);
            input {
              margin-right: rem(8);
            }

          }
        }
        &--slider {
          position: relative;
          .article__item {
            width: rem(260);
            height: rem(240);
            overflow: hidden;
            color: var(--cl-white);

            background: url("/img/bg.png") var(--cl-lightgray-lgter) bottom no-repeat;
            background-size: contain;

            .item-description {
              flex-direction: column;
              align-items: center;

              width: 100%;
              margin-top: auto;
              padding: rem(10) rem(15);
              .item-actions {
                justify-content: space-between;

                letter-spacing: 0px;
                width: 100%;

                &__icons {
                  i {
                    margin-left: rem(5);
                  }
                }
              }
            }
          }
        }
        &--tags {
          .article__item {
            flex-wrap: wrap;
            justify-content: normal;

            height: auto;
            color: var(--cl-white);
            .item__tag {
              border-radius: 2px;

              padding: rem(10) rem(15);
              margin: rem(1);

              background: var(--cl-lightgray);

              font-size: rem(12);
              &--active {
                background: var(--cl-blue);
              }
            }
          }
        }
        &--newsletters {
          .article__item {
            flex-direction: column;
            margin: 0px;
            .article-sub-caption {
              font-size: rem(13);
              font-weight: normal;
              padding: 0px;

              color: var(--cl-lightgray-slvr);
            }
            .article-inputs {
              padding: rem(8) rem(0);
              position: relative;
              .article-input {
                background: var(--cl-silver);
                border: 1px solid var(--cl-lightgray-brdr);

                padding: rem(8) rem(15);
                width: rem(240);
              }
              .article-button {
                position: absolute;
                width: rem(30);

                background: none;
                border: none;
                left: 100%;
                top: 50%;

                transform: translate(-100%, -50%);
                color: var(--cl-gray);
              }
            }
            input[type="text"]::placeholder {
              color: var(--cl-dark--lgtr);
            }
          }
        }
      }
    }
  }
}

@include max-wide(laptop) {
  .main-container__block--center {
    .article-container {
      padding: rem(10);
    }
  }
}

@include max-wide(phones) {
  .main-container__block--center {
    margin: 0rem;
    padding: 0rem;
    .article-container {
      max-width: 100% !important;

      &--items {
        .article__item {
          .item-text {
            margin-right: auto;
          }
        }
      }
      &--tags {
        .item__tag {
          font-size: rem(16) !important;
        }
      }
    }
  }
}