.article-container--carousel {
  position: relative;

  .swiper-container--carousel {
    width: inherit;
    max-width: rem(580);
    height: auto;
    overflow: hidden;
  }
}

@include max-wide(desktopMd) {
  .article-container--carousel {
    .article__item{
      text-align: center;
    }
    .swiper-slide{
      display: flex;
      flex-wrap: wrap;
    }
    .swiper-container--carousel {
      max-width: rem(450);
      min-width: rem(200);
    }
  }
}
@include max-wide(phones) {
  .swiper-container--carousel {
    width: 100%;
    height: auto;
    //max-width: rem(300) !important;

  }
}