.main-container {
  display: flex;
  justify-content: space-between;

  margin-top: rem(20);
  padding: 0px;
  box-sizing: border-box;

  .article{
    &-container {
      box-shadow: 0px 0px 3px var(--cl-lightgray-brdr);
      margin-bottom: rem(45);
      padding: rem(20);
    }
    &-caption {
      font-size: rem(16);
      border-bottom: 2px solid var(--cl-dark);
      background: url("/img/title.png");
    }
    &-sub-caption {
      font-size: rem(16);
      padding: rem(15) rem(25);
    }
  }
  .item-caption {
    font-size: rem(16);
  }
}

section {
  .article-container {
    .article__item {
      &:last-child {
        border-bottom: none !important;
      }
    }
  }
}

.main-container__block--left,
.main-container__block--center {
  margin-top: rem(20);
}

.main-container__block--center,
.main-container__block--right {
  display: flex;
  flex: 1;
  max-width: rem(280);
}

.main-container__block--left {
  display: flex;
  flex: 3;
  max-width: rem(580);

}

@include max-wide(desktop) {

  .main-container__block--center,
  .main-container__block--right {

    max-width: none !important;
  }
  .main-container__block--center {
    margin: rem(20) rem(10) rem(0);
  }
  .main-container__block--left {
    max-width: none !important;
  }

}

@include max-wide(desktopSm) {
  main {
    padding: rem(10) !important;
  }
}

  @include max-wide(phones) {
    .main-container{
      padding: rem(0) rem(10);
    }
    .article-caption{
      padding-left: rem(20);
    }

    .block-center__articles{
      margin: auto;
    }


    .item-caption{
      font-size: rem(14)!important;
    }
    .main-container{
      display: flex;
      flex-direction: column;
    }
  }

