//w250h350
.section-banner {
  position: relative;

  .swiper-container {
    width: auto;
    height: 350px;
    overflow: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--cl-lightgray);

    outline: none;
  }
  .swiper-slide {
    background: #fff;
    display: flex;
    justify-content: center;

  }
}






