.header {
  .menu,
  .icon-menu,
  .icon-close {
    display: none;
  }
}

@include max-wide(tablet) {
  .header {

    .menu {
      display: block;
      position: fixed;
      background: var(--cl-dark);

      left: -285px;
      width: 285px;
height: auto;
      z-index: 250;
      ul {
        list-style: none;
      }
      li {
        border-bottom: 1px solid var(--cl-dark--lgtr);
        line-height: 40px;
        padding-left: 20px;
        &:hover {
          cursor: pointer;
          background-color: var(--cl-lightgray);
        }
      }

    }

    .icon-close {
      display: block;
      cursor: pointer;

      color: var(--cl-white);

      margin-top: 60%;
      margin-left: 90%;

      //transform: translate(-25%, -50%);
    }
    .icon-menu {
      display: block;
      cursor: pointer;

      font-size: rem(20);
      text-decoration: none;
    }
  }
}