.header{
.menu__search {
  i {
    z-index: 210;
    &:hover {
      color: var(--cl-black);
    }
  }
}

#search {
  position: absolute;
  transform: translate(-100%, 0%);
  z-index: 10;

  border: 1px solid var(--cl-lightgray-brdr);
  padding: 3px 3px 3px 15px;
  border-radius: 3px;
  outline: none;

  opacity: 0;
  margin-top: 1px !important;
  margin-right: -50px;
  width: 0rem;

  transition: 0.4s;
  transition-timing-function: ease-out;
}

input[placeholder] {
  color: var(--cl-lightgray);
}

}