.section-banner {
  padding: rem(0);
  .article__item {
    width: 100%;
    height: 100%;
    display: flex;
    color: var(--cl-white);
    background-size: cover;
    background: url("/img/bg-main.png") var(--cl-lightgray-lgter) bottom no-repeat;
    .item-caption {
      font-size: rem(16);
      text-align: left;
    }
    .item-description {
      flex-direction: column;
      width: 100%;
      margin-top: auto;
      padding: rem(10);
    }
    .item-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: var(--cl-dark--lgtr);
      font-size: rem(12);
    padding: rem(10) rem(0);
      &__icons {
        i {
          margin-left: rem(5);
        }
      }
    }
  }
}
@include max-wide(desktopMd) {

}