.article-container--slider {
  .swiper-container--slider {
    width: rem(260);//260
    height: 100%;//240
    overflow: hidden;
    margin: auto;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: var(--cl-lightgray);

    outline: none;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-size: rem(20);
    font-weight: bold;
  }
  .swiper-button-prev{
    left: rem(20);
  }
  .swiper-button-next{
    right: rem(20);
  }
}