footer {
  background: var(--cl-dark);
  color: var(--cl-white);

  .container {
    display: flex;
  }
}

.footer {
  &__logo {
    background: url("/img/logo.png") no-repeat center;
    background-size: contain;

    width: rem(100);
    height: rem(40);
    padding: rem(10) rem(0);
  }
  &__title {
    font-size: rem(20);
    padding: rem(20) rem(0);
  }
  &__item {
    flex: 1;
    padding-left: rem(20);
    margin: rem(30) rem(0);

    border-right: 1px solid var(--cl-footer-icons);
    &:first-child {
      padding-left: rem(0);
    }
    &:last-child {
      border-right: none;
    }
    .footer__text {
      font-size: rem(13);
      padding-right: rem(30);
      .text__email {
        margin: rem(20) rem(0);
        a {
          margin-left: rem(30);
        }
      }
    }
    .footer__socials {
      font-size: rem(20);
      letter-spacing: 8px;
      color: var(--cl-footer-icons);

      padding: rem(30) rem(0);
      a:hover {
        color: var(--cl-white) !important;
      }
    }

    .article-container {
      border-bottom: none;
      .article__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 0px;
        padding: rem(5) rem(10) rem(5) rem(0);
        .item-caption {
          font-weight: normal;
          font-size: rem(14);

        }
        .item-photo {
          .photo {
            width: rem(65);
            height: rem(65);
            object-fit: contain;
            margin-right: rem(20);
          }
        }
        .item-actions {
          display: flex;
          color: var(--cl-footer-icons);
          margin-top: rem(6);
          font-size: rem(14);
          letter-spacing: 10px;
        }
      }

      &--flickr {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        max-width: rem(300) !important;
        .article__item {
          display: flex;

          width: rem(80);
          height: rem(80);

          margin: rem(10) rem(0);
          padding: 0px;
          .item-photo {
            .photo {
              width: rem(80);
              height: rem(80);
            }
          }
        }
      }
    }
  }
  &__bottom {
    padding: rem(20) rem(0);
    .container {
      border-top: 1px solid var(--cl-footer-icons);
    }
    .footer__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-size: rem(12);
      .item__text {
        color: var(--cl-footer-icons);
      }
      .footer__nav {
        font-size: rem(14);

        .nav__link {
          padding: rem(0) rem(15);
          border-right: 1px solid var(--cl-footer-icons);
          &:last-child {
            border-right: none;
          }
        }
      }
    }
  }
}

@include max-wide(tablet) {
  footer {
    .container {
      flex-direction: column;
    }
  }

  .footer {
    &__item {
      display: none;

      border-right: none;
      margin: rem(20) rem(0);
      &:first-child {
        display: block;
      }
    }
    &__socials {
      padding: rem(10) rem(0) !important;
    }
    &__bottom {
      padding-top: rem(0);
      text-align: center;
      .footer__item {
        display: flex;
        flex-direction: column-reverse;
        .footer__nav {
          margin-bottom: rem(10);
        }
      }
    }
  }
}
