.header {
  .container{
    padding: rem(0)!important;
  }
  &__main {
    background: var(--cl-dark);
    color: var(--cl-white);
    .header__nav {
      display: flex;
      align-items: center;
      padding: rem(20) rem(30);

      .nav__item {
        padding: rem(0) rem(15);
        border-right: 1px solid var(--cl-lightgray);
        &:last-child {
          border-right: none;
        }
      }
      .nav__title {
        display: flex;
        .nav{
          &__menu {
            display: none;
          }
          &__logo {
            background: url("/img/logo.png") no-repeat;
            background-size: contain;

            height: rem(50);
            width: rem(80);

            margin-right: rem(50);
            border-right: none !important;
          }
        }
      }

    }
  }
  &__sub {
    .sub__items,
    .sub__item {
      display: flex;
      justify-content: space-between;
      position: relative;
    }
    .sub__items {
      .sub__item {
        align-items: center;
        position: relative;
        white-space: nowrap;
        &--title {
          position: relative;

          background: var(--cl-red);
          color: var(--cl-white);
          padding: rem(10) rem(15);
          &:before {
            position: absolute;
            content: "";
            background: url("/img/arrow.svg") no-repeat;
            background-size: contain;
            width: rem(30);
            height: rem(30);

            left: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
        &--content {
          padding: rem(0) rem(20);

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          i {
            font-size: rem(14);
            color: var(--cl-lightgray-slvr);
            padding: rem(0) rem(5);
          }
          .content__item {
            overflow: hidden;
            text-overflow: ellipsis;
            padding: rem(0) rem(10);
          }
        }
        &--socials {
          div {
            display: flex;
          }
          i {
            background: var(--cl-lightgray-lgter) no-repeat center;
            padding: rem(20) rem(10);
            color: var(--cl-lightgray-slvr);
            &:hover {
              color: var(--cl-lightgray);
              filter: contrast(80%);
            }
          }
          .socials__item:hover {
            filter: contrast(120%);
          }
        }
      }
    }
  }
}

@include max-wide(desktop) {
  //.header {
  //  .container {
  //    padding: 0rem !important;
  //  }
  //}
}

@include max-wide(tablet) {
  .header {
    &__nav {
      flex-direction: column;
      .nav__title {
        display: flex;
        justify-content: space-between;
        align-items: center !important;
        width: 100%;
        .nav__logo {
          width: rem(100) !important;
          height: rem(60);
          margin-right: 0rem !important;
          background-position: center !important;
          padding: 0px !important;
        }
        .nav__menu {
          display: flex !important;

          font-size: rem(20);
          color: var(--cl-white);
          background: none;
          border: none;
          outline: none;
          i {
            border: 1px solid white;
            border-radius: 3px;
            padding: rem(10) rem(10);
          }
        }
      }
      .nav__item {
        font-size: rem(20);
        border-right: none !important;
        border-bottom: 1px dashed var(--cl-lightgray);
        padding: rem(10) rem(10) !important;
        width: 80%;
        text-align: center;
        &:first-child,
        &:last-child {
          border: none;
        }
      }
      .nav__item {
        display: none;
      }
      .nav__logo {
        display: flex;
      }
      .show {
        display: flex;
      }
    }
    &__sub {
      .sub__item--title {
        position: relative;
        padding: rem(5) rem(10) !important;
        font-size: rem(14);
        &:before {
          z-index: -1 !important;
        }
      }
      .content__item:last-child {
        display: none;
      }
      .icon-star-fill {
        display: none;
      }
    }

  }
}
