.article-buttons {
  padding-top: rem(20);
  padding-left: rem(10);
  .article-button {
    font-size: rem(15);
    font-weight: bold;
    color: var(--cl-white);
    background: var(--cl-blue);

    padding: rem(10) rem(15);
    border: none;
    &--view{
      background: var(--cl-black);
      margin-left: rem(10);
    }
  }

}